<div class="surface-card shadow-2 border-round w-full">
<div class="grid">
    <div class="hidden md:inline-flex col-4"></div>
    <div class="col-12 md:col-3 lg:col-3 xl:col-3">
        <p-tabView>
            <p-tabPanel header="I'm barber">
                <app-barber-form></app-barber-form>
            </p-tabPanel>
            <p-tabPanel header="I'm client">
                <app-client-form></app-client-form>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
</div>