<!-- <div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Find a barber near you</span>
        </section>
    </div>
</div> -->
<app-board-user></app-board-user>

<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">For barbers</span>
            <div class="text-6xl text-primary font-bold mb-3">Let your clients make an appointment</div>
            <p class="mt-0 mb-4 text-700 line-height-3">With the Omega Free Barbershop app, you can let the customers see your agenda and make an appointment.</p>
            <p class="mt-0 mb-4 text-900">Start using now for FREE!</p>
            <button pButton pRipple label="Sing up" routerLink="/login" type="button" class="mr-3 p-button-raised"></button>
            <!-- <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button> -->
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="../../../assets/images/Barbershop.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
        <span class="text-900">One Product, </span>
        <span class="text-primary">Many Solutions</span>
    </div>
    <div class="text-700 mb-6">See the several features you can have for free.</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-primary"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Built for Barbers</div>
            <span class="text-700 line-height-3">A free application to share with your clients to show and make an appointment.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-github text-4xl text-primary"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Open Source</div>
            <span class="text-700 line-height-3">Nec tincidunt praesent semper feugiat. Sed adipiscing diam donec adipiscing tristique risus nec feugiat. </span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-primary"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Easy to Use</div>
            <span class="text-700 line-height-3">Easy and simple app to manage your agenda with the clients.</span>
        </div>
        
    </div>
</div>
